*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body {
    background-image: url(media/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 80%;
    
}

.form-center{
    display: flex;
    justify-content: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 6px;
    max-width: 400px;
    min-width: 300px;
}

legend{
    font-size: 1.25em;
    padding: 0 .25em;
    color: white;
    font-weight: 900;
    text-align: center;

}

label {
    color: white;
    text-align: center;
    font-weight: bold;
}
input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}


button {
    border-radius: 5rem;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
    font-size: 1rem;
    width: 50%;
    font-weight: bold;

}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s;
}

.output-header{
    font-size: 1.25em;
    padding: 0 .25em;
    color: white;
    font-weight: 900;
    text-align: center;

}

.x {
    display: flex;
    align-items: center;
    justify-content: center;
}


.all-outputs {
    display: flex;
    flex-direction: column;
    width: 66%;

    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 2rem;
    margin-top: 0rem;
    padding: 1rem;
    color: white;
}

.output-title {
    font-size: 1.25em;
    padding: 0 .25em;
    color: black;
    color: white;
}

.output-box {
    margin-left: 2rem;
    font-style: italic;
    font-weight: lighter;
}



